<%= @cocktail.name %>
<%= link_to 'Go back to the list', cocktails_path %>
<%= link_to 'Add a new dose', new_cocktail_dose_path(@cocktail.id) %>
<% @cocktail.doses.each do |dose| %>
<tr>
<td><%= dose.ingredient.name %></td>
<td><%= dose.description %></td>
<% end %>
</tr>
